<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Custom Modal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-button (click)="openModal()">Open Custom Modal</ion-button>
  
  <div class="modal" id="modal" *ngIf="customModal" (click)="closeModal()" >
    <div class="popup_txt">
        <p>Want to Delete?</p>
        <br>
        <ion-row>
            <ion-col style="text-align: center;">
               <p (click)="closeModal()" style="color: green;">yes</p>
            </ion-col>
            <ion-col style="text-align: center;">
                <p (click)="closeModal()" style="color: red;">no</p>
            </ion-col>
        </ion-row>
    </div>
</div>

</ion-content>
